@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: "PT Sans", sans-serif;
}
.product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.product-detail-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
  
.product-detail-info {
    width: 100%;
    max-width: 600px;
    text-align: left;
}
  
.product-detail-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
  
.product-detail-info p {
    margin: 10px 0;
    line-height: 1.5;
}
  
.product-detail-info .price {
    font-size: 1.5em;
    color: #e91e63;
    margin-top: 20px;
}
  
.product-detail-info .discount {
    font-size: 1.2em;
    color: #4caf50;
  }
  
.product-detail-info .rating,
.product-detail-info .stock {
    font-size: 1em;
    color: #777;
}
  
.product-detail-info button {
    background-color: #4b0081;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}
  
.product-detail-info button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}